{% extends "AppCoder/padre.html" %}

{% load static %}

{% block titulo_de_pagina %}
    <!--Aquí va lo que cambia, y lo asociado a está vista :) -->
    <img class="d-block w-100 img-fluid img-slider" src="{% static 'AppCoder/images/reserve.jpg' %}" alt="First slide">
	<div class="reserve-text col-lg-12 ">
        <h1 class="text-center">Reservas</h1>
    </div> 

{% endblock %}

{% block cambios_en_pagina %}


            

<a class="nav-link" href="{% url 'reservaFormulario' %}">Agregar Reservas</a>
										    



{% endblock %}